<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>JOSHCHANGE</title>
  <script type="module">
        import {
          Grid,
          html
        } from "https://unpkg.com/gridjs?module";
  </script>
  <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
  <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
</head>
<body>

<p id="demo"></p>


  <h1> JOSHCHANGE Trading Interface </h1>
  <div id="myOrderbook">
    <h2>This is where the Orderbook belongs</h2>
  </div>
  <div id="myOrderbookBids"></div>
  <div id="myOrderbookAsks"></div>
    
  <script type="text/javascript" src="/assets/autorefresh.js"></script>
	</body>
</html>
